.main {
  background-color: #292b2e;
  padding-top: 50px;
}

.text {
  max-width: 1000px;
  color: whitesmoke;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
